@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Especificaciones de la aplicación Travel</h1>

    <p>Este diagrama es una faceta rápida y presenta a los componentes entre sí.</p>
    <p><img src="~/doc-02.png" /></p>
</div>

<p>
    La Siguiente versión tendrá:
</p>

<li>
    1. Diagrama de componentes.
</li>
<li>
    2. Casos de Uso.
</li>


